<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Simple Chat App</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    $('form').submit(function(){
      socket.emit('message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
  </script>
</body>
</html>
